In [42]:
import pandas as pd
import numpy as np

In [43]:
my_sex_data = pd.read_csv('my_ilostat_data.csv', sep=',', encoding='latin-1', header=None,skiprows=3)

In [44]:
my_sex_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Afghanistan,Total (Sex),15-64 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,7243.0,NaN,NaN,NaN,6267.0,NaN,NaN,NaN,NaN,6250.0,NaN
1,Afghanistan,Total (Sex),15+ (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,7487.0,NaN,NaN,NaN,6420.0,NaN,NaN,NaN,NaN,6397.0,NaN
2,Afghanistan,Total (Sex),25+ (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,5408.0,NaN,NaN,NaN,4498.0,NaN,NaN,NaN,NaN,4559.0,NaN
3,Afghanistan,Male (Sex),15-24 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,1409.0,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,1396.0,NaN
4,Afghanistan,Male (Sex),15-64 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,4733.0,NaN,NaN,NaN,5216.0,NaN,NaN,NaN,NaN,4881.0,NaN

In [45]:
my_sex_data.shape

(2994, 18)

In [46]:
my_sex_data.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [47]:
my_sex_data.columns=['Country','Sex','Age','Survey','Type of Source','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']

In [48]:
my_sex_data.head()

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,Total (Sex),15-64 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,7243.0,NaN,NaN,NaN,6267.0,NaN,NaN,NaN,NaN,6250.0,NaN
1,Afghanistan,Total (Sex),15+ (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,7487.0,NaN,NaN,NaN,6420.0,NaN,NaN,NaN,NaN,6397.0,NaN
2,Afghanistan,Total (Sex),25+ (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,5408.0,NaN,NaN,NaN,4498.0,NaN,NaN,NaN,NaN,4559.0,NaN
3,Afghanistan,Male (Sex),15-24 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,1409.0,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,1396.0,NaN
4,Afghanistan,Male (Sex),15-64 (Age),Living Condition Survey,Household income/expenditure survey,NaN,NaN,4733.0,NaN,NaN,NaN,5216.0,NaN,NaN,NaN,NaN,4881.0,NaN

In [49]:
y = my_sex_data[my_sex_data['Country'] == 'Burkina Faso']

In [50]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
478,Burkina Faso,Total (Sex),15-24 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1436.0,NaN,NaN,NaN,NaN
479,Burkina Faso,Total (Sex),15-64 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5299.0,NaN,NaN,NaN,NaN
480,Burkina Faso,Total (Sex),15+ (Age),Living standards survey,Household income/expenditure survey,NaN,5242.0,NaN,NaN,NaN,NaN,NaN,NaN,5548.0,NaN,NaN,NaN,NaN
481,Burkina Faso,Total (Sex),25+ (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4112.0,NaN,NaN,NaN,NaN
482,Burkina Faso,Male (Sex),15-24 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,781.0,NaN,NaN,NaN,NaN
483,Burkina Faso,Male (Sex),15-64 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2734.0,NaN,NaN,NaN,NaN
484,Burkina Faso,Male (Sex),15+ (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2883.0,NaN,NaN,NaN,NaN
485,Burkina Faso,Male (Sex),25+ (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2103.0,NaN,NaN,NaN,NaN
486,Burkina Faso,Female (Sex),15-24 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,622.0,NaN,NaN,NaN,NaN
487,Burkina Faso,Female (Sex),15-64 (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2437.0,NaN,NaN,NaN,NaN
488,Burkina Faso,Female (Sex),15+ (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2532.0,NaN,NaN,NaN,NaN
489,Burkina Faso,Female (Sex),25+ (Age),Living standards survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1910.0,NaN,NaN,NaN,NaN
490,Burkina Faso,Total (Sex),15-24 (Age),Population Census,Population census,1688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Burkina Faso,Total (Sex),15-64 (Age),Population Census,Population census,5036.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Burkina Faso,Total (Sex),15+ (Age),Population Census,Population census,5286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Burkina Faso,Total (Sex),25+ (Age),Population Census,Population census,3598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,Burkina Faso,Male (Sex),15-24 (Age),Population Census,Population census,891.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,Burkina Faso,Male (Sex),15-64 (Age),Population Census,Population census,2716.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,Burkina Faso,Male (Sex),15+ (Age),Population Census,Population census,2873.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,Burkina Faso,Male (Sex),25+ (Age),Population Census,Population census,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,Burkina Faso,Female (Sex),15-24 (Age),Population Census,Population census,796.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Burkina Faso,Female (Sex),15-64 (Age),Population Census,Population census,2319.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,Burkina Faso,Female (Sex),15+ (Age),Population Census,Population census,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,Burkina Faso,Female (Sex),25+ (Age),Population Census,Population census,1617.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
y = my_sex_data[my_sex_data['Country'] == 'Gambia']

In [52]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
995,Gambia,Total (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,NaN
996,Gambia,Total (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,525.0,NaN,NaN,NaN,NaN,NaN,NaN
997,Gambia,Total (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,544.0,NaN,NaN,NaN,NaN,NaN,NaN
998,Gambia,Total (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,414.0,NaN,NaN,NaN,NaN,NaN,NaN
999,Gambia,Male (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
1000,Gambia,Male (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,291.0,NaN,NaN,NaN,NaN,NaN,NaN
1001,Gambia,Male (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,305.0,NaN,NaN,NaN,NaN,NaN,NaN
1002,Gambia,Male (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,236.0,NaN,NaN,NaN,NaN,NaN,NaN
1003,Gambia,Female (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN
1004,Gambia,Female (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,234.0,NaN,NaN,NaN,NaN,NaN,NaN
1005,Gambia,Female (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,239.0,NaN,NaN,NaN,NaN,NaN,NaN
1006,Gambia,Female (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
y = my_sex_data[my_sex_data['Country'] == 'Togo']

In [54]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2738,Togo,Total (Sex),15-24 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,613.0,NaN,NaN,NaN,NaN,735.0,NaN,NaN,NaN,662.0,NaN,NaN,NaN
2739,Togo,Total (Sex),15-64 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,2289.0,NaN,NaN,NaN,NaN,2562.0,NaN,NaN,NaN,2663.0,NaN,NaN,NaN
2740,Togo,Total (Sex),15+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,2405.0,NaN,NaN,NaN,NaN,2672.0,NaN,NaN,NaN,2838.0,NaN,NaN,NaN
2741,Togo,Total (Sex),25+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,1792.0,NaN,NaN,NaN,NaN,1937.0,NaN,NaN,NaN,2176.0,NaN,NaN,NaN
2742,Togo,Male (Sex),15-24 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,297.0,NaN,NaN,NaN,NaN,365.0,NaN,NaN,NaN,356.0,NaN,NaN,NaN
2743,Togo,Male (Sex),15-64 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,1096.0,NaN,NaN,NaN,NaN,1238.0,NaN,NaN,NaN,1322.0,NaN,NaN,NaN
2744,Togo,Male (Sex),15+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,1159.0,NaN,NaN,NaN,NaN,1294.0,NaN,NaN,NaN,1409.0,NaN,NaN,NaN
2745,Togo,Male (Sex),25+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,861.0,NaN,NaN,NaN,NaN,929.0,NaN,NaN,NaN,1053.0,NaN,NaN,NaN
2746,Togo,Female (Sex),15-24 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,316.0,NaN,NaN,NaN,NaN,370.0,NaN,NaN,NaN,306.0,NaN,NaN,NaN
2747,Togo,Female (Sex),15-64 (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,1193.0,NaN,NaN,NaN,NaN,1324.0,NaN,NaN,NaN,1340.0,NaN,NaN,NaN
2748,Togo,Female (Sex),15+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,1247.0,NaN,NaN,NaN,NaN,1378.0,NaN,NaN,NaN,1429.0,NaN,NaN,NaN
2749,Togo,Female (Sex),25+ (Age),Questionnaire on Indicators of Well-being,Household income/expenditure survey,931.0,NaN,NaN,NaN,NaN,1008.0,NaN,NaN,NaN,1123.0,NaN,NaN,NaN
2750,Togo,Total (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,632.0,NaN,NaN,NaN,NaN
2751,Togo,Total (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1392.0,NaN,NaN,NaN,NaN
2752,Togo,Total (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759.0,NaN,NaN,NaN,NaN
2753,Togo,Male (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.0,NaN,NaN,NaN,NaN
2754,Togo,Male (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,598.0,NaN,NaN,NaN,NaN
2755,Togo,Male (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,NaN
2756,Togo,Female (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,334.0,NaN,NaN,NaN,NaN
2757,Togo,Female (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,793.0,NaN,NaN,NaN,NaN
2758,Togo,Female (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,459.0,NaN,NaN,NaN,NaN

In [55]:
y = my_sex_data[my_sex_data['Country'] == 'Sierra Leone']

In [56]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2462,Sierra Leone,Total (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,270.0,NaN,NaN,NaN,NaN
2463,Sierra Leone,Total (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1548.0,NaN,NaN,NaN,NaN
2464,Sierra Leone,Total (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1634.0,NaN,NaN,NaN,NaN
2465,Sierra Leone,Total (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1364.0,NaN,NaN,NaN,NaN
2466,Sierra Leone,Male (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN
2467,Sierra Leone,Male (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.0,NaN,NaN,NaN,NaN
2468,Sierra Leone,Male (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,762.0,NaN,NaN,NaN,NaN
2469,Sierra Leone,Male (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.0,NaN,NaN,NaN,NaN
2470,Sierra Leone,Female (Sex),15-24 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.0,NaN,NaN,NaN,NaN
2471,Sierra Leone,Female (Sex),15-64 (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,839.0,NaN,NaN,NaN,NaN
2472,Sierra Leone,Female (Sex),15+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,872.0,NaN,NaN,NaN,NaN
2473,Sierra Leone,Female (Sex),25+ (Age),Labour force survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,NaN

In [57]:
y=my_sex_data[my_sex_data['Country']== 'Liberia']

In [58]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1474,Liberia,Total (Sex),15-24 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,185.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,Liberia,Total (Sex),15-64 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,1030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,Liberia,Total (Sex),15+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,1080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,Liberia,Total (Sex),25+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,Liberia,Male (Sex),15-24 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,Liberia,Male (Sex),15-64 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,Liberia,Male (Sex),15+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,Liberia,Male (Sex),25+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,449.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,Liberia,Female (Sex),15-24 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,Liberia,Female (Sex),15-64 (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,523.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,Liberia,Female (Sex),15+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,541.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1485,Liberia,Female (Sex),25+ (Age),Labour Force Survey,Labour force survey,NaN,NaN,NaN,NaN,446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1486,Liberia,Total (Sex),15-24 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.0,426.0,NaN,NaN
1487,Liberia,Total (Sex),15-64 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1589.0,1685.0,NaN,NaN
1488,Liberia,Total (Sex),15+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,1072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1642.0,1756.0,NaN,NaN
1489,Liberia,Total (Sex),25+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1268.0,1330.0,NaN,NaN
1490,Liberia,Male (Sex),15-24 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186.0,202.0,NaN,NaN
1491,Liberia,Male (Sex),15-64 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,796.0,841.0,NaN,NaN
1492,Liberia,Male (Sex),15+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,824.0,878.0,NaN,NaN
1493,Liberia,Male (Sex),25+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,638.0,676.0,NaN,NaN
1494,Liberia,Female (Sex),15-24 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,224.0,NaN,NaN
1495,Liberia,Female (Sex),15-64 (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,793.0,843.0,NaN,NaN
1496,Liberia,Female (Sex),15+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,818.0,878.0,NaN,NaN
1497,Liberia,Female (Sex),25+ (Age),Household Income and Expenditure Survey,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,631.0,654.0,NaN,NaN
1498,Liberia,Total (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,362.0,NaN,NaN,NaN,NaN
1499,Liberia,Total (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,584.0,NaN,704.0,NaN,NaN,NaN,NaN
1500,Liberia,Total (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,283.0,NaN,342.0,NaN,NaN,NaN,NaN
1501,Liberia,Male (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,154.0,NaN,199.0,NaN,NaN,NaN,NaN
1502,Liberia,Male (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,308.0,NaN,367.0,NaN,NaN,NaN,NaN
1503,Liberia,Male (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,153.0,NaN,169.0,NaN,NaN,NaN,NaN
1504,Liberia,Female (Sex),15-24 (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,147.0,NaN,163.0,NaN,NaN,NaN,NaN
1505,Liberia,Female (Sex),15+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,276.0,NaN,336.0,NaN,NaN,NaN,NaN
1506,Liberia,Female (Sex),25+ (Age),School to work transition survey,Other household survey,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,173.0,NaN,NaN,NaN,NaN

In [59]:
y=my_sex_data[my_sex_data['Country']=='Senegal']

In [60]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2414,Senegal,Total (Sex),15-24 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691.0,NaN,NaN,NaN
2415,Senegal,Total (Sex),15-64 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3296.0,NaN,NaN,NaN
2416,Senegal,Total (Sex),15+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3418.0,NaN,NaN,NaN
2417,Senegal,Total (Sex),25+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2727.0,NaN,NaN,NaN
2418,Senegal,Male (Sex),15-24 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391.0,NaN,NaN,NaN
2419,Senegal,Male (Sex),15-64 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961.0,NaN,NaN,NaN
2420,Senegal,Male (Sex),15+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2045.0,NaN,NaN,NaN
2421,Senegal,Male (Sex),25+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1654.0,NaN,NaN,NaN
2422,Senegal,Female (Sex),15-24 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN
2423,Senegal,Female (Sex),15-64 (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1335.0,NaN,NaN,NaN
2424,Senegal,Female (Sex),15+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1373.0,NaN,NaN,NaN
2425,Senegal,Female (Sex),25+ (Age),National Employment Survey,Labour force survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1073.0,NaN,NaN,NaN
2426,Senegal,Total (Sex),15-24 (Age),Survey To Monitor poverty in Senegal,Other household survey,849.0,NaN,NaN,NaN,NaN,944.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2427,Senegal,Total (Sex),15-64 (Age),Survey To Monitor poverty in Senegal,Other household survey,3029.0,NaN,NaN,NaN,NaN,3659.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2428,Senegal,Total (Sex),15+ (Age),Survey To Monitor poverty in Senegal,Other household survey,3153.0,NaN,NaN,NaN,NaN,3806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2429,Senegal,Total (Sex),25+ (Age),Survey To Monitor poverty in Senegal,Other household survey,2304.0,NaN,NaN,NaN,NaN,2861.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2430,Senegal,Male (Sex),15-24 (Age),Survey To Monitor poverty in Senegal,Other household survey,569.0,NaN,NaN,NaN,NaN,588.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2431,Senegal,Male (Sex),15-64 (Age),Survey To Monitor poverty in Senegal,Other household survey,1953.0,NaN,NaN,NaN,NaN,2080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2432,Senegal,Male (Sex),15+ (Age),Survey To Monitor poverty in Senegal,Other household survey,2049.0,NaN,NaN,NaN,NaN,2171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2433,Senegal,Male (Sex),25+ (Age),Survey To Monitor poverty in Senegal,Other household survey,1480.0,NaN,NaN,NaN,NaN,1583.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2434,Senegal,Female (Sex),15-24 (Age),Survey To Monitor poverty in Senegal,Other household survey,280.0,NaN,NaN,NaN,NaN,356.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2435,Senegal,Female (Sex),15-64 (Age),Survey To Monitor poverty in Senegal,Other household survey,1077.0,NaN,NaN,NaN,NaN,1579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2436,Senegal,Female (Sex),15+ (Age),Survey To Monitor poverty in Senegal,Other household survey,1105.0,NaN,NaN,NaN,NaN,1634.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437,Senegal,Female (Sex),25+ (Age),Survey To Monitor poverty in Senegal,Other household survey,825.0,NaN,NaN,NaN,NaN,1278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
y=my_sex_data[my_sex_data['Country']=='Niger']

In [62]:
y

,Country,Sex,Age,Survey,Type of Source,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1982,Niger,Total (Sex),15-24 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,1741.0,NaN,NaN,1408.0,NaN,NaN,NaN,NaN
1983,Niger,Total (Sex),15-64 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,5852.0,NaN,NaN,5910.0,NaN,NaN,NaN,NaN
1984,Niger,Total (Sex),15+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,6120.0,NaN,NaN,6218.0,NaN,NaN,NaN,NaN
1985,Niger,Total (Sex),25+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,4379.0,NaN,NaN,4811.0,NaN,NaN,NaN,NaN
1986,Niger,Male (Sex),15-24 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,944.0,NaN,NaN,825.0,NaN,NaN,NaN,NaN
1987,Niger,Male (Sex),15-64 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,3127.0,NaN,NaN,3123.0,NaN,NaN,NaN,NaN
1988,Niger,Male (Sex),15+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,3312.0,NaN,NaN,3343.0,NaN,NaN,NaN,NaN
1989,Niger,Male (Sex),25+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,2368.0,NaN,NaN,2518.0,NaN,NaN,NaN,NaN
1990,Niger,Female (Sex),15-24 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,796.0,NaN,NaN,583.0,NaN,NaN,NaN,NaN
1991,Niger,Female (Sex),15-64 (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,2725.0,NaN,NaN,2788.0,NaN,NaN,NaN,NaN
1992,Niger,Female (Sex),15+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,2808.0,NaN,NaN,2875.0,NaN,NaN,NaN,NaN
1993,Niger,Female (Sex),25+ (Age),National Survey on Household Living Conditions,Household income/expenditure survey,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,2292.0,NaN,NaN,NaN,NaN

In [75]:
 
New_sex = my_sex_data.loc[[501,1006,2749,2473,1497,1993,2437],['Country','Sex','Age','2013','2014','2015','2016','2017','2018']]

In [77]:
New_sex.head()

,Country,Sex,Age,2013,2014,2015,2016,2017,2018
501,Burkina Faso,Female (Sex),25+ (Age),NaN,NaN,NaN,NaN,NaN,NaN
1006,Gambia,Female (Sex),25+ (Age),NaN,NaN,NaN,NaN,NaN,NaN
2749,Togo,Female (Sex),25+ (Age),NaN,NaN,1123.0,NaN,NaN,NaN
2473,Sierra Leone,Female (Sex),25+ (Age),NaN,700.0,NaN,NaN,NaN,NaN
1497,Liberia,Female (Sex),25+ (Age),NaN,NaN,631.0,654.0,NaN,NaN